body{
    background-color:grey;
}

button{
    border-radius:20px;
    font-size:1.2em;
    background-color:whitesmoke;
}

.buttontd { 
    padding: 20px;
}

.stimholder{
    float:left;
    display:inline;
}

img{
    display:inline;
    visibility:hidden;
}
